@using QEQ1.Models
@model  Usuario
@{
                /**/

                ViewBag.Title = "Register";
}
<h2>Complete el formulario para registrarse</h2>
<br />

@using (Html.BeginForm("CuentaCreada", "QEQ", FormMethod.Post))
{
    if(ViewBag.val==false)
    {
        <p>Este mail ya está registrado</p>
    }

<table style="width:50%">
    <tr>
        <td>@Html.Label("Nombre de usuario")</td>
        <td>@Html.TextBoxFor(x => x.NomUsuario)</td>
        <td>@Html.ValidationMessageFor(x => x.NomUsuario) </td>
    </tr>
    <tr>
        <td> @Html.Label("Email")</td>
        <td> @Html.TextBoxFor(x => x.Email, new { type = "email" })</td>
        <td> @Html.ValidationMessageFor(x => x.Email)</td>
    </tr>
    <tr>
        <td> @Html.Label("Contraseña") </td>
        <td>@Html.PasswordFor(x => x.Contraseña)</td>
        <td>@Html.ValidationMessageFor(x => x.Contraseña) </td>
    </tr>
</table>
    <p><input type="submit" value="Registrarme"/></p>
}

